// Colors
$primary-color: #ff3434;
$secondary-color: #313131;
$grey1: #3c3c3c;
$bg-card: #4c4c4c;
$lightgrey1: rgb(163 163 163);
$black-transparent-1: #0000008c;
$white-1: #ffffff;

// Constants
$mobileXxxs: 320;
$mobileXxs: 375;
$mobileXs: 425;
$mobileS: 505;
$mobile: 590;
$tablet: 768;
$desktop: 1024;
$desktopL: 1440;
$desktopAd: 810;
$mobileLandscape: 480;
$desktopXl: 2560;