.main-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
}

.header {
  text-align: center;
  color: #fff;
  // height: 64;
  padding-inline: 50;
  line-height: 64px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  padding: 0 5px !important;

  &__container {
    max-width: 1440px;
    width: 100%;
  }
}

.top-logo {
  z-index: 0;
  height: 50vw;
  background-color: $grey1;
}

.top-menu {
  z-index: 2;
  height: 64px;
  background-color: transparent;
}

.space-align-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.space-align-block {
  flex: none;
  margin: 8px 4px;
  padding: 4px;
  border: 1px solid #40a9ff;
}

.space-align-block .mock-block {
  display: inline-block;
  padding: 32px 8px 16px;
  background: rgba(150, 150, 150, 0.2);
}

.heart {
  background-color: red;
  display: inline-block;
  height: 12px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 12px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 12px;
  position: absolute;
  width: 12px;
}

.heart:before {
  top: -5px;
  left: 0;
}

.heart:after {
  left: 5px;
  top: 0;
}

.logo {
  position: relative;
  z-index: 1 !important;
  padding: 10px 10px 10px 10px;

  img {
    height: 25vw;
    margin-top: 5px;
    transform: rotate(-25deg) translateX(7px) translateY(0px);
    transform-origin: top;
    transition: transform 2s;

    @include mq($from: tablet) {
      height: 21vh;
    }

    @include mq($from: desktopL) {
      height: 16vw;
    }
  }

  .rotate {
    transform: rotate(36deg) translateX(7px) translateY(0px);
  }
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-color;
  font-weight: bold;
  margin-right: 1.4vw;

  @include font-size(.8rem);

  &:hover {
    color: $primary-color;
  }

  &__icon {
    font-size: 1.6em;
    margin-right: 0.2em;
  }
}

.footer {
  margin-bottom: 60px;
  background-color: $grey1;
  color: $lightgrey1;

  @include font-size(.6rem);

  @include mq($from: desktop) {
    margin-bottom: unset;
  }
}

.header__container {}

.content-container {
  width: 100%;
  background-color: $grey1;
}

.social {
  display: flex;
  justify-content: center;

  ul {
    display: flex;
    list-style-type: none;

    li {
      margin: 0px 0.6em;

      span {
        font-size: 22px;
      }
    }
  }
}

.content {
  text-align: center;
  min-height: 120px;
  line-height: 120px;
  color: #fff;
  // backgroundColor: beige
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
  margin-top: 50vw;
  box-shadow: 0px -5px 4px 0px rgb(0 0 0 / 27%);

  @include mq($from: tablet) {
    margin-top: 30vw;
  }

  @include mq($from: desktopL) {
    margin-top: 22vw;
  }

}

.footer-text {
  margin-top: 3em;
}

.back-door {
  background-color: #333;
  position: relative;
  width: 58vw;
  height: 310px;
  margin: 0 auto;
  padding-top: 20px;
}

.door {
  background-color: beige;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  height: 300px;
  transform-origin: left;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.frame-door {
  background-color: transparent;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 58vw;
  height: 300px;
  border: 10px solid white;
  transform-origin: left;
  transition: all 0.5s ease-in-out;
  z-index: 0;
}

.thickness {
  position: absolute;
  top: 10px;
  bottom: 0px;
  right: 0;
  background-color: $secondary-color;
  z-index: 1;

  float: right;
  transition: all 0.6s ease-in-out;
  opacity: 0;
}

.thickness-open {
  // left: 0;
  width: 10px;
  transform: translateX(-71vw) perspective(1200px) translateZ(0px) translateX(0px) translateY(0px);
  top: -18px;
  bottom: -26px;
  opacity: 1;
}

.door-open {
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
}

.hide {
  display: none;
}

.about-us {
  padding: 0px 20px;
  font-size: 0.8rem;
  line-height: 1rem;
}