.main-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
}

.header {
  text-align: center;
  color: #fff;
  // height: 64;
  padding-inline: 50;
  line-height: 64px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  padding: 0 5px !important;

  &__container {
    max-width: 1440px;
    width: 100%;
  }
}

.top-logo {
  z-index: 0;
  height: 55vw;
  background-color: $grey1;
}

.top-menu {
  z-index: 2;
  height: 64px;
  background-color: transparent;
}

.space-align-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.space-align-block {
  flex: none;
  margin: 8px 4px;
  padding: 4px;
  border: 1px solid #40a9ff;
}

.space-align-block .mock-block {
  display: inline-block;
  padding: 32px 8px 16px;
  background: rgba(150, 150, 150, 0.2);
}

.heart {
  background-color: red;
  display: inline-block;
  height: 12px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 12px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 12px;
  position: absolute;
  width: 12px;
}

.heart:before {
  top: -5px;
  left: 0;
}

.heart:after {
  left: 5px;
  top: 0;
}

.space-door {
  position: relative;
  z-index: 1 !important;
  padding: 10px 10px 10px 10px;
  height: 100%;

  .ant-space-item {
    height: 100%;
  }

  img {
    width: auto;
    height: 25vw;
    margin-top: 12px;
    transform: rotate(-25deg) translateX(7px) translateY(0px);
    transform-origin: top;
    transition: transform 2s;

    @include mq($from: mobileS) {
      margin-top: 16px;
    }

    @include mq($from: tablet) {
      height: 21vh;
      margin-top: 23px;
    }

    @include mq($from: desktop) {
      margin-top: 26px;
    }


    @include mq($from: desktopL) {
      margin-top: 24px;
      width: 14vw;
      height: auto;
    }
  }

  .rotate {
    transform: rotate(36deg) translateX(7px) translateY(0px);
  }
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-color;
  font-weight: bold;
  margin-right: 1.4vw;

  @include font-size(.8rem);

  &:hover {
    color: $primary-color;
  }

  &__icon {
    font-size: 1.6em;
    margin-right: 0.2em;
  }
}

.footer {
  margin-bottom: 60px;
  background-color: $grey1;
  color: $lightgrey1;

  @include font-size(.6rem);

  @include mq($from: desktop) {
    margin-bottom: unset;
  }
}

.header__container {}

.content-container {
  width: 100%;
  background-color: $grey1;
}

.social {
  display: flex;
  justify-content: center;

  ul {
    display: flex;
    list-style-type: none;

    li {
      margin: 0px 0.6em;

      span {
        font-size: 22px;
      }
    }
  }
}

.content {
  text-align: center;
  min-height: 120px;
  line-height: 120px;
  color: #fff;
  // backgroundColor: beige
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
  margin-top: 50vw;

  @include mq($from: mobileXxs) {
    margin-top: 46vw;
  }

  @include mq($from: mobileS) {
    margin-top: 39vw;
  }

  @include mq($from: mobile) {
    margin-top: 38vw;
  }

  @include mq($from: tablet) {
    margin-top: 39vw;
  }

  @include mq($from: desktopL) {
    margin-top: 27vw;
  }

}

.footer-text {
  margin-top: 3em;
}

.back-door {
  position: relative;
  width: 58vw;
  height: 100%;
  margin: 0 auto;
  padding-top: 25px;

  @include mq($from: desktopL) {
    width: 33vw;
    height: 50%;
  }
}

.door {
  background-color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  height: calc(100% - 10px);
  transform-origin: left;
  transition: all 0.5s ease-in-out;
  z-index: 1;
  box-shadow: inset 0px 0px 1px 1px black;
  display: flex;
  justify-content: center;

  a {
    z-index: 2;
  }
}

.door:before,
.door:after {
  content: "";
  position: absolute;
  background-color: white;
  width: 105px;
  height: 75px;
  border: 10px ridge white;
  top: 22.5px;
  box-shadow: inset 0px 0px 3px 0.1px black;

  @include mq($from: mobileXxs) {
    width: 150px;
    height: 95px;
  }

  @include mq($from: mobileXs) {
    top: 14%;
  }

  @include mq($from: mobileS) {
    top: 16%;
    height: 38%;
    width: 195px;
  }

  @include mq($from: mobile) {
    top: 45px;
    width: 240px;
    height: 120px;
  }

  @include mq($from: tablet) {
    top: 16%;
    width: 70%;
    height: 50%;
  }
}

.frame-door {
  background-color: transparent;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 58vw;
  height: 100%;
  border: 10px solid white;
  transform-origin: left;
  transition: all 0.5s ease-in-out;
  z-index: 0;

  @include mq($from: desktopL) {
    width: 33vw;
  }
}

.thickness {
  position: absolute;
  top: 10px;
  bottom: 0px;
  right: 0;
  background-color: $secondary-color;
  z-index: 1;

  float: right;
  transition: all 0.6s ease-in-out;
  opacity: 0;
}

.thickness-open {
  // left: 0;
  width: 10px;
  transform: translateX(-71vw) perspective(1200px) translateZ(0px) translateX(0px) translateY(0px);
  top: -18px;
  bottom: -26px;
  opacity: 1;
}

.door-open {
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
}

.hide {
  display: none;
}

.about-us {
  padding: 0px 40px;
  font-size: calc((320 * 8px) / 320);
  line-height: calc((320 * 10px) / 320);
  margin-top: calc((320 * 7px) / 320);

  @include mq($from: mobileXxs) {
    padding: 0px calc(($mobileXxs * 40px) / 320);
    font-size: calc(($mobileXxs * 8px) / 320);
    line-height: calc(($mobileXxs * 10px) / 320);
    margin-top: calc(($mobileXxs * 7px) / 320);
  }

  @include mq($from: mobileXs) {
    padding: 0px calc(($mobileXs * 40px) / 320);
    font-size: calc(($mobileXs * 8px) / 320);
    line-height: calc(($mobileXs * 10px) / 320);
    margin-top: calc(($mobileXs * 7px) / 320);
  }

  @include mq($from: mobileS) {
    padding: 0px calc(($mobileS * 40px) / 320);
    font-size: calc(($mobileS * 8px) / 320);
    line-height: calc(($mobileS * 10px) / 320);
    margin-top: calc(($mobileS * 7px) / 320);
  }

  @include mq($from: mobile) {
    padding: 0px calc(($mobile * 40px) / 320);
    font-size: calc(($mobile * 8px) / 320);
    line-height: calc(($mobile * 10px) / 320);
    margin-top: calc(($mobile * 7px) / 320);
  }

  @include mq($from: tablet) {
    padding: 0px calc(($tablet * 40px) / 320);
    font-size: calc(($tablet * 8px) / 320);
    line-height: calc(($tablet * 10px) / 320);
    margin-top: calc(($tablet * 7px) / 320);
  }

  @include mq($from: desktop) {
    padding: 0px calc(($desktop * 40px) / 320);
    font-size: calc(($desktop * 8px) / 320);
    line-height: calc(($desktop * 10px) / 320);
    margin-top: calc(($desktop * 7px) / 320);
  }

  @include mq($from: desktopL) {
    padding: 0px calc(($desktopL * 30px) / $desktopL);
    font-size: calc(($desktopL * 25px) / $desktopL);
    line-height: calc(($desktopL * 10px) / 320);
    margin-top: calc(($desktopL * 20px) / $desktopL);
  }

  @include mq($from: desktopXl) {
    padding: 0px calc(($desktopXl * 30px) / $desktopL);
    font-size: calc(($desktopXl * 25px) / $desktopL);
    line-height: calc(($desktopXl * 10px) / 320);
    margin-top: calc(($desktopXl * 20px) / $desktopL);
  }
}