.sticky-nav-bar {
  text-align: center;
  color: #fff;
  // height: 64;
  padding-inline: 50;
  line-height: 64px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  background-color: $grey1;

  &__container {
    max-width: 1440px;
    width: 100%;
  }

  .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-right: 1.4vw;
  
    @include font-size(.8rem);
  
    &:hover {
      color: $secondary-color;
    }
  
    &__icon {
      font-size: 2.5em;
      margin-right: 2vw;
      color: $lightgrey1;
    }
  }
}