.songs {
  padding: 0px 2em;
  width: 100%;
  max-width: 950px;

  &__btn-show-letter {
    color: white;
  }

  .ant-space-item {
    width: 100%;
  }

  .ant-list-item-meta-title a {
    color: white !important;
    text-align: start;
  }

  .ant-list-item-meta-description {
    color: white !important;
    text-align: start;
  }

  .ant-list-item-meta-title {
    text-align: start;
  }
}