// @import "./node_modules/rfs/scss.scss";
@import "/node_modules/rfs/sass.sass";

.section-videos {
    // padding: 5vh 10vw;
}

.section-header {
    padding: 5vh 10vw;
}

.title {
    line-height: normal;
    text-align: left;
    color: dimgrey;
    @include font-size(3rem);
}

.description {
    line-height: normal;
    text-align: left;
    color: grey;
    @include font-size(1rem);
}

.video-frame {
    width: 100%;
    min-height: 180px;
    min-width: 240px;
}

.item-title {
    color: darkslategray;
    line-height: normal;
    text-align: start;
    padding: 1em 1em;
    @include font-size(.6rem);
}

.video-box {
    display: flex;
    flex-direction: column;
}