// @import "./node_modules/rfs/scss.scss";
@import "/node_modules/rfs/sass.sass";

.section-videos {
    padding: 5vh 10vw;
}

.title {
    line-height: normal;
    text-align: left;
    @include font-size(3rem);
}

.description {
    line-height: normal;
    text-align: left;
}