// @import '/node_modules/sass-mq/mq';

.section-videos {
  // padding: 5vh 10vw;
}

.section-header {
  padding: 2em 2em 1em;

  @include mq($from: tablet) {
    padding: 2em 4em 1em;
  }

  @include mq($from: desktopL) {
    padding: 4em 6em 1em;
  }
}

.section-videos .section-header {
  // padding: 8vh 5vw;
}

.title {
  line-height: normal;
  text-align: left;
  color: white;

  @include font-size(3rem);
}

.description {
  line-height: normal;
  text-align: left;
  color: white;
  margin-top: 0.1em;

  @include font-size(1rem);
}

.video-frame {
  width: 100%;
  min-height: 300px;
  min-width: 240px;
}

.item-title {
  color: darkslategray;
  line-height: normal;
  text-align: start;
  padding: 1em 1em;
  @include font-size(.6rem);
}

.video-box {
  display: flex;
  flex-direction: column;
}

#videos .ant-card-head {
  text-align: start;
}

.contact-form {
  padding: 0px 2em;
  width: 100%;
}

.contact-form .ant-space-item {
  width: 100%;
  max-width: 720px;
}

#contact-form label {
  color: white;
}

.slider {
  margin-top: 0.04vh;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px -5px 4px 0px rgba(0, 0, 0, 0.27);
  overflow: hidden;

  @include mq($from: desktopL) {
    max-width: 1440px;
  }

  &__img-box {
    img {
      max-width: 1440px;
      max-height: 500px;
    }
  }
}

.carousel-container {
  @include mq($from: desktopL) {
    display: flex;
    justify-content: center;
  }
}