@import "/node_modules/rfs/sass.sass";

.main-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header {
  padding: 0 5px !important;
  background-color: beige;
}

.space-align-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.space-align-block {
  flex: none;
  margin: 8px 4px;
  padding: 4px;
  border: 1px solid #40a9ff;
}

.space-align-block .mock-block {
  display: inline-block;
  padding: 32px 8px 16px;
  background: rgba(150, 150, 150, 0.2);
}

.heart {
  background-color: red;
  display: inline-block;
  height: 12px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 12px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 12px;
  position: absolute;
  width: 12px;
}

.heart:before {
  top: -5px;
  left: 0;
}

.heart:after {
  left: 5px;
  top: 0;
}

.logo {
  width: 100%;
  position: relative;
  z-index: 1 !important;
  padding: 10px 10px 10px 10px;

  img {
    height: 9vh;
  }
}

.menu-item {
  @include font-size(.8rem);

  color: dimgrey;
  font-weight: 500;
  margin-right: 1.4vw;
}

.footer {
  @include font-size(.6rem);
}